* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bebas Neue', cursive;
}

.wrapper {
  max-width: 76%;
  margin: 0 auto;
}

.header {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #3cc3b5;
    padding: 10px 0;
  }
  &__search {
    width: 45%;
    padding: 5px;
    border: 1px solid #e1e1e1;
  }
  &__nav {
    background: #4ccfc1;
    padding: 5px 0;
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #ffffff;
      font-size: 1.7vw;
      .header__nav-item {
        text-decoration: none;
        color: #ffffff;
        &:visited {
          color: #ffffff;
        }
        &:hover {
          filter: opacity(0.7);
        }
      }
    }
  }
  &__nav-burger-button {
    display: none;
  }
}

.logo {
  font-family: 'Lobster';
  font-size: 3.7vw;
}

.cart {
  font-size: 2.5vw;
  i {
    font-size: 3vw;
  }
}

.top-items-slider {
  background: #3fc6b6;
  box-shadow: inset 0px 21px 5px -21px rgba(0,0,0,0.75);
  &__content {
    display: flex;
    flex-direction: row;
    padding: 5% 0;
    color: #ffffff;
  }
  &__item-photo-container {
    margin-right: 10%;
    width: 35%;
  }
  &__item-photo {
    width: 100%;
  }
  &__item-information {
    width: 39%;
  }
  &__item-name {
    font-size: 5vw;
    line-height: 4.5vw;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  &__item-description {
    font-family: 'Open Sans';
    font-size: 1.4vw;
    line-height: 2.4vw;
    margin-bottom: 40px;
  }
  &__shop-now-button {
    background: transparent;
    color: #ffffff;
    border: 5px solid #ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 15px;
    padding: 5px 40px;
    font-size: 2.5vw;
    font-family: 'Bebas Neue';
    cursor: pointer;
    &:hover {
      filter: opacity(0.7);
    }
  }
}

.recent-categories-slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 4%;
  &__item-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    border-left: 1px solid #e3e3e3;
    padding: 0.5% 0;
  }
  &__control {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    color: #fff;
    text-align: center;
    bottom: 0;
    background: #fff;
  }
  &__control:hover,
  &__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
  }
  &__control_left {
    left: 0;
  }
  &__control_right {
    right: 0;
  }
  &__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  &__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  &__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  &__item-name {
    color: #afafaf;
    font-size: 2vw;
    width: 50%;
    line-height: 2vw;
    margin-bottom: 10px;
  }
  &__item-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3%;
  }
  &__item-photo-container {
    width: 50%;
  }
  &__item-photo {
    width: 100%;
  }
}

.buy-button {
  font-size: 1.2vw;
  color: #ffffff;
  background-color: #3cc395;
  padding: 5px 23px;
  border: none;
  border-radius: 5px;
  font-family: 'Bebas Neue';
  cursor: pointer;
  &:hover {
    filter: opacity(0.7);
  }
}

.featured-products {
  &__header-container {
    background: #3ec7b4;
    box-shadow: inset 0px 21px 5px -21px rgba(0,0,0,0.75);
    padding: 10px 0;
  }
  &__header {
    color: #ffffff;
    padding: 0 4%;
    font-size: 2.1vw;
  }
  &__items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4%;
  }
  &__item {
    width: 27%;
    text-align: center;
    border: 1px solid #e3e3e3;
    border-bottom: 5px solid #3cc395;
    padding: 1.5%;
    margin-bottom: 4%;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
  }
  &__item-name {
    color: #afafaf;
    font-size: 2vw;

  }
  &__item-price {
    color: #afafaf;
    font-size: 2vw;
    margin-right: 5%;
  }
  &__item-photo-container {
    height: 62%;
    width: 75%;
    margin: 10px auto;
  }
  &__item-photo {
    width: 90%;
    height: 100%;
  }
  &__item-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  background: #3cc3b5;
  &__cr {
    background: #2da89b;
    text-align: center;
    padding: 1% 0;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 1.3vw;
  }
  &__nav-columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5% 4%;
  }
  &__nav-column {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: #ffffff;
  }
  &__nav-column-item {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 1.1vw;
    margin: 0 0 2% 2%;
    &:hover {
      filter: opacity(0.7);
    }
  }
  &__nav-column-header {
    font-size: 2vw;
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .header {
    &__search, .cart {
      display: none;
    }
    &__top {
      justify-content: center;
      padding: 0;
      .logo {
        font-size: 7.7vw;
      }
    }
    &__nav {
      padding: 0;
    }
    &__nav-content {
      display: none;
    }
    &__nav-burger-button {
      display: block;
      text-align: center;
      i {
        font-size: 6vw;
        color: #ffffff;
        vertical-align: middle;
      }
    }
  }
  .top-items-slider {
    &__content {
      flex-direction: column;
    }
    &__item-photo-container {
      margin: 0 auto 5px;
      width: 80%;
    }
    &__item-information {
      text-align: center;
      margin-bottom: 5px;
      width: 100%;
    }
    &__item-description {
      margin-bottom: 10px;
      font-size: 2.2vw;
      line-height: 2.6vw;
    }
    &__shop-now-button {
      border: 2px solid #ffffff;
      padding: 2px 20px;
    }
    &__item-name {
      font-size: 9vw;
      line-height: 7.5vw;
      margin-bottom: 10px;
    }
  }

  .recent-categories-slider {
    &__item {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &__item-name {
      font-size: 4vw;
      line-height: 3.5vw;
    }
  }

  .buy-button {
    font-size: 2.8vw;
    padding: 3px 10px;
    border-radius: 3px;
  }

  .featured-products {
    &__header {
      padding: 0;
      text-align: center;
      font-size: 6vw;
    }
    &__items-container {
      flex-direction: column;
    }
    &__item {
      width: 100%;
    }
    &__item-name {
      font-size: 5vw;
    }
    &__item-price {
      font-size: 4vw;
    }
    &__item-photo-container {
      margin: 0 auto;
    }
  }
  .footer {
    &__nav-column-header {
      margin: 0;
      text-align: center;
      font-size: 2.7vw;
    }
    &__nav-column-item {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 90%;
  }

  .top-items-slider {
    &__item-name {
      font-size: 11vw;
      line-height: 9.5vw;
    }
    &__item-description {
      font-size: 2.8vw;
      line-height: 3.6vw;
    }
    &__content {
      padding: 3% 0;
    }
  }

  .footer {
    &__nav-columns-container {
      flex-direction: column;
      align-items: center;
      padding: 1.5% 4%;
    }
    &__nav-column-header {
      font-size: 3.7vw;
      line-height: 4vw;
    }
  }
}